include

pyvenv.cfg

# Virtual environment directories and contents
venv/
env/
.venv/
.env/
venv/pyvenv.cfg
env/pyvenv.cfg
.venv/pyvenv.cfg
.env/pyvenv.cfg

.alembic/alembic.ini
alembic/alembic.ini

# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/
lib/
bin/

# Distribution and packaging directories
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

.env
lib64
logs
