include

# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
env/
lib/
bin/

# Distribution and packaging directories
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

.env
